body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Cantarell;
}

div > a{
    color: #ffffff;
}

.blog-post-1 > a,
.blog-post-2 > a{
    color: #000000;
    font-size: 1.5vw;
}

h4 {
    font-family: Cantarell;
    text-decoration: underline;
}

p {
    font-family: Cantarell;
}

section > p > a {
    color: #000000;
    text-decoration: underline;
}

span {
    padding-left: 2.5em;
}

.location > h1,
.shopping > h1,
.blog > h1 {
    font-family: ZombieChecklist;
    font-size: 4vw;
    width: auto;
    margin: 0 auto;
    padding: 1em 0 0.5em 3.25em;
}

.location > h3,
.shopping > h3,
.blog > h3 {
    width: 30vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 1em 13%;
    font-weight: normal;
    font-size: 1.5vw;
    font-family: Cantarell;
}

div > img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alpaca_sweater {
    margin: 6% 0 5% 25%;
}

.alpaca_sweater >img,
.relaxed > img,
.winter-surf > img,
.oils > img,
.panara-shirt > img,
.blog-post-1 > img,
.blog-post-2 > img{
    width: auto;
    height: 15vw;
}

.relaxed{
    float: right;
    margin-top: -8%;
    margin-right: 8%;
}

.winter-surf {
    float: right;
    margin-top: -21%;
    padding-right: 8%;
}

.winter-surf > p,
.relaxed > p,
.alpaca_sweater > p,
.black-jacket > p,
.panara-shirt > p,
.oils > p,
.blog-post-1 > p,
.blog-post-2 > p{
    margin: 0.8% 0;
    font-size: 1.25vw;
}

.panara-shirt > p{
    text-align: right;
}

.panara-shirt {
    float: right;
    margin-top: -21%;
    margin-right: 5%;
    display: block;
}

.black-jacket{
    margin: -6% 0 5% 28%;
    position: relative;
    display: block;
}

.black-jacket > img{
    width: auto;
    height: 25vw;
}

.oils{
    float: right;
    margin-top: -4%;
    margin-right: 5%;
    position: relative;
    display: block;
}

.social-icon{
    height: 2vw;
    width: auto;
    padding-right: 5%;
}

.social-icon-1 {
    height: 2vw;
    width: auto;
    padding-right: 0;
}

.img-divider {
    width: 100%;
    height: auto;
}

.blog-post-1 {
    float: left;
    width: 20vw;
    margin-right: 25%;
    display: inline;
    text-align: left;
}

.blog-post-2 {
    float: left;
    width: 20vw;
    display: inline;
    text-align: left;
}

.blog > div {
    margin: 2em 0;
    padding: 0 0 0 30%;
}

nav {
    background-color: rgba(000, 0, 0, 0.4);
    width: 100%;
    height: auto;
    padding: 1% 0;
    text-align: center;
}

nav > div > a {
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2vw;
}

nav > div > a:last-child {
    padding-right: 0;
}

nav > div{
    width: 75%;
    margin: 0 auto;
}

.head-stone {
    background-image: url(./assets/beach_scape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
}

.location {
    height: 75vw;
    width: 100%;
    background-image: url(./assets/section-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.location > p,
.shopping > p,
.blog > p {
    font-size: 1vw;
    width: 40vw;
    margin-top: 0;
    padding: 0 0 1em 13em;
}

.shopping {
    height: 75vw;
    width: 100%;
    background-image: url(./assets/section-2.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.blog {
    height: 75vw;
    width: 100%;
    background-image: url(./assets/section-3.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.fair-trade {
    height: 75vw;
    width: 100%;
    background-image: url(./assets/section-4.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.fair-trade > p {
    font-size: 3vw;
    width: 35vw;
    float: left;
    margin: 22% 10% 0 0;
    padding: 1em 0 1em 5em;
}

.fair-trade > img {
    margin: 22% 0 10% 0;
    width: 25%;
    height: auto;
}

.title {
    color: #ffffff;
    font-family: ZombieChecklist;
    font-size: 10.5vw;
    line-height: 0.9;
    margin-top: 0.05em;
    margin-bottom: 0.25em;
}

.sub-title {
    color: #ffffff;
    font-family: Cantarell;
    font-size: 1.75vw;
    line-height: 0.9;
}

.email-phone {
    color: #ffffff;
    font-family: Cantarell;
    font-size: 1.25vw;
    width: 29%;
    margin: 1em auto 0 auto;
    padding-bottom: 2em;
}

.email-phone > a {
    color: #ffffff;
}

.logo {
    width: 26.666667%;
    margin: 0 auto;
}

footer {
    text-align: center;
}

footer > h1 {
    margin: 5%;
    font-size: 4vw;
    font-family: ZombieChecklist;
}

footer > div {
    width: 25%;
    margin: 0;
    float: left;
    text-align: center;
}

footer > div > img {
    height: 7em;
    width: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer > div > p {
    font-family: Cantarell;
    font-size: 1vw;
    width: 15em;
    margin: 2% auto;
    text-align: left;
}

footer > p {
    padding: 3%;
    font-family: Cantarell;
}

p > img {
    width: 1em;
    height: auto;
    margin-top: 3%;
}

@media (max-width: 400px){
    footer > div > p{
        display: none;
    }
    .location > h3,
    .shopping > h3{
        width: 50%;
        font-size: 2.5vw;
    }
    .blog > h3{
        width: 85%;
        font-size: 2.5vw;
    }
    .blog-post-1,
    .blog-post-2{
        width: 30vw;
    }
    .blog-post-1{
        margin-right: 10%;
    }
    .blog > div{
        padding-left: 25%;
    }
    .blog-post-1 > p,
    .blog-post-2 > p{
        font-size: 2vw;
    }
    .blog-post-1 > a,
    .blog-post-2 > a{
        font-size: 2.5vw;
    }
}
