body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Cantarell;
}

h4 {
    font-family: Cantarell;
    text-decoration: underline;
}

p {
    font-family: Cantarell;
}

section > p > a {
    color: #000000;
    text-decoration: underline;
}

span {
    padding-left: 2.5em;
}

.location > h1,
.shopping > h1,
.blog > h1 {
    font-family: ZombieChecklist;
    font-size: 4vw;
    width: auto;
    margin: 0 auto;
    padding: 1em 0 1em 3.25em;
}

.location > h3,
.shopping > h3,
.blog > h3 {
    width: 30vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 1em 13%;
    font-weight: normal;
    font-family: Cantarell;
}

div > img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alpaca_sweater {
    margin: 6% 0 5% 25%;
}

.relaxed{
    float: right;
    margin-top: -8%;
    margin-right: 14%;
}

.winter-surf {
    float: right;
    margin-top: -10em;
    padding-right: 8%;
}

.winter-surf > p,
.relaxed > p,
.alpaca_sweater > p,
.black-jacket > p,
.panara-shirt > p,
.oils > p {
    margin: 1% 0;
}

.overlay {
    z-index: 2;
    float: right;
    display: block;
    position: relative;
    margin-right: 25%;
    margin-top: -5%
}

.panara-shirt {
    float: right;
    margin-top: -20%;
    margin-right: -37%;
    position: relative;
    display: block;
    z-index: 1;
}

.black-jacket{
    margin: 3% 0 5% 30%;
    position: relative;
    display: block;
    z-index: 1;
}

.oils{
    float: right;
    margin-top: -20%;
    margin-right: 8%;
    position: relative;
    display: block;
    z-index: 1;
}

.social-icon {
    height: 1em;
    width: auto;
    padding-right: 1%;
}

.img-divider {
    width: 100%;
    height: auto;
}

.blog-post-1 {
    float: left;
    width: 20vw;
    margin-right: 15%;
    display: inline;
    text-align: left;
}

.blog-post-2 {
    float: left;
    width: 20vw;
    margin-left: 9%;
    display: inline;
    text-align: left;
}

.blog > div {
    margin: 2em 0;
    padding: 0 0 0 30%;
}

nav {
    background-color: rgba(000, 0, 0, 0.4);
    width: 100%;
    height: auto;
    padding: 1% 0;
    text-align: center;
}

nav > div > a {
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

nav > div{
    width: 75%;
    margin: 0 auto;
}

.head-stone {
    background-image: url(./assets/beach_scape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
}

.location {
    height: 900px;
    width: 100%;
    background-image: url(./assets/section-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.location > p,
.shopping > p,
.blog > p,
.fair-trade > p {
    font-size: 1vw;
    width: 40vw;
    margin-top: 0;
    padding: 0 0 1em 13em;
}

.shopping {
    height: 900px;
    width: 100%;
    background-image: url(./assets/section-2.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.blog {
    height: 900px;
    width: 100%;
    background-image: url(./assets/section-3.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.fair-trade {
    height: 900px;
    width: 100%;
    background-image: url(./assets/section-4.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.fair-trade > p {
    font-size: 2.35em;
    width: 35vw;
    float: left;
    margin: 22% 10% 0 0;
    padding: 1em 0 1em 5em;
}

.fair-trade > img {
    margin: 22% 0 10% 0;
    width: 25%;
    height: auto;
}

.title {
    color: #ffffff;
    font-family: ZombieChecklist;
    font-size: 10.5vw;
    line-height: 0.9;
    margin-top: 0.05em;
    margin-bottom: 0.25em;
}

.sub-title {
    color: #ffffff;
    font-family: Cantarell;
    font-size: 1.75vw;
    line-height: 0.9;
}

.email-phone {
    color: #ffffff;
    font-family: Cantarell;
    width: 29%;
    margin: 1em auto 0 auto;
    padding-bottom: 2em;
}

.email-phone > a {
    color: #ffffff;
}

.logo {
    width: 26.666667%;
    margin: 0 auto;
}

footer {
    text-align: center;
}

footer > h1 {
    margin: 5%;
    font-size: 4vw;
    font-family: ZombieChecklist;
}

footer > div {
    width: 25%;
    margin: 0;
    float: left;
    text-align: center;
}

footer > div > img {
    height: 7em;
    width: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer > div > p {
    font-family: Cantarell;
    font-size: 1vw;
    width: 220px;
    margin: 2% auto;
    text-align: left;
}

footer > p {
    padding: 3%;
    font-family: Cantarell;
}

p > img {
    width: 1em;
    height: auto;
    margin-top: 3%;
}
