@font-face {
    font-family: 'zombiechecklistregular';
    src: url('./assets/webfontkit-Zombie/zombiechecklistv2-webfont.woff2') format('woff2'),
    url('zombiechecklistv2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cantarellregular';
    src: url('./assets/webfontkit-Cantarell/cantarell-regular-webfont.woff2') format('woff2'),
    url('cantarell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: cantarellregular;
}

p {
    font-family: cantarellregular;
    font-size: 1.5vw;
    margin-top: 0;
}

img {
    width: auto;
    height: 15vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
        padding: 0;
}

section > p {
    font-size: 1vw;
    width: 40vw;
    padding: 0 0 1em 13em;
}

h1 {
    font-family: zombiechecklistregular;
    font-size: 4vw;
    width: auto;
    margin: 3% 0 1% 13%;
}

h2 {
    font-size: 2vw;
    font-family: cantarellregular;
    margin-bottom: 0;
}

h3 {
    width: 30vw;
    margin: 0 0 1% 13%;
    font-weight: normal;
    font-size: 1.5vw;
    font-family: cantarellregular;
}

h3 > a {
    color: #000000;
    font-family: cantarellregular;
}

h4 {
    font-family: cantarellregular;
    text-decoration: underline;
    font-size: 2vw;
}

h5 {
    font-family: zombiechecklistregular;
    font-size: 3.5vw;
    margin: 5% auto;
}

section > p > a {
    color: #000000;
    text-decoration: underline;
}

span {
    padding-left: 2.5em;
}

header {
    background-image: url(./assets/beach_scape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
}

li > a > img {
    height: 2vw;
    width: auto;
    box-shadow: none;
}

li {
    display: inline-block;
    color: #ffffff;
    padding-right: 3%;
    padding-bottom: 1%;
    font-family: cantarellregular;
}

li:last-child {
    padding-right: 0;
}

.img-divider {
    width: 100%;
    height: auto;
}

.title {
    color: #ffffff;
    font-family: zombiechecklistregular;
    font-size: 10.5vw;
    line-height: 0.9em;
    margin-top: 0.05em;
    margin-bottom: 0.25em;
}

.sub-title {
    color: #ffffff;
    font-family: cantarellregular;
    margin: 2% auto;
    padding: 0;
    text-align: center;
    font-size: 1.75vw;
    line-height: 0.9;
    width: 100%;
}

.logo {
    width: 26.666667%;
    margin: 0 auto;
    box-shadow: none;
}

nav {
    background-color: rgba(000, 0, 0, 0.4);
    width: 100%;
    height: auto;
    padding: 1% 0;
    text-align: center;
}

nav > ul {
    width: 75%;
    margin: 0 auto;
}

nav > ul > li {
    color: #ffffff;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2vw;
}

section {
    height: 75vw;
    width: 100%;
}

.container {
    margin: 0;
}

.alpaca_sweater {
    margin: 6% 0 6% 10%;
    width: 50%;
    padding: 0;
    text-align: center;
}

.relaxed {
    float: right;
    margin-top: -8%;
    margin-right: 8%;
}

.winter-surf {
    float: right;
    margin-top: -19%;
    margin-right: 8%;
}

.panara-shirt {
    float: right;
    margin-top: -20%;
    margin-right: 8%;
    display: block;
}

.black-jacket {
    margin: 6% 0 6% 10%;
    width: 50%;
    padding: 0;
    text-align: center;
}

.black-jacket > img {
    width: auto;
    height: 25vw;
}

.oils {
    float: right;
    margin-top: -15%;
    margin-right: 5%;
}

section > div {
    margin: 5% 0 0 25%;
}

.blog-post-1 {
    float: left;
    width: 20vw;
    margin-top: 15%;
    margin-right: 25%;
    display: inline;
    text-align: left;
}

.blog-post-2 {
    float: left;
    width: 20vw;
    display: inline;
    margin-top: 15%;
    text-align: left;
}

.blog-post-1 > h4 > a,
.blog-post-2 > h4 > a {
    color: #000000;
    font-size: 1.5vw;
}

#fair-trade > p {
    font-size: 3vw;
    width: 35vw;
    float: left;
    margin: 22% 10% 0 13%;
    padding: 0;
}

#fair-trade > img {
    margin: 22% 0 0 0;
    width: 28%;
    height: auto;
}

footer {
    text-align: center;
    padding-bottom: 1%;
}

footer > div {
    width: 25%;
    margin: 0;
    float: left;
    text-align: center;
}

footer > div > a > img {
    height: 7em;
    width: auto;
    margin: 0 auto;
}

footer > div > p {
    font-family: cantarellregular;
    font-size: 1vw;
    width: 15em;
    margin: 2% auto;
    text-align: left;
}

@media (max-width: 865px) {

    .sub-title {
        font-size: 2.5vw;
    }
    h2{
        font-size: 2vw;
    }
    h3{
        font-size: 2vw;
    }
    h5{
        font-size: 5vw;
    }
    p{
        font-size: 1.5vw;
    }
    p > a {
        font-size: 1.5vw;
    }
    p > span {
        font-size: 1.5vw;
        padding-left: 2%;
    }
    #fair-trade > p > a {
        font-size: 3vw;
    }
    li > img {
        width: 1.5em;
        height: auto;
        margin-right: 5%;
    }
    .winter-surf,
    .panara-shirt {
        margin-top: -25%;
    }
    .blog-post-1 > p,
    .blog-post-2 > p {
        font-size: 1.75vw;
    }
}

@media (max-width: 735px) {

    #location,
    #shopping,
    #blog {
        text-align: center;
        height: auto;
    }
    footer > div > p {
        display: none;
    }
    footer > div {
        padding-bottom: 3%;
    }
    .blog-post-1,
    .blog-post-2 {
        margin-bottom: 10%;
    }
    .blog-post-1 > h4 > a,
    .blog-post-2 > h4 > a {
        font-size: 2vw;
    }
    .container {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .black-jacket,
    .alpaca_sweater {
        width: 40%;
    }
    .winter-surf,
    .alpaca_sweater,
    .relaxed,
    .panara-shirt,
    .black-jacket,
    .oils  {
        display: inline-block;
        float: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    h1{
        text-align: left;
    }
    h3 {
        width: 80%;
        text-align: left;
    }
    span{
        display: none;
    }

    section > p {
        display: inline-block;
        width: 40%;
        margin: 2% auto;
        padding: 0;
    }
    p > a {
        font-size: 2em;
    }
    .blog-post-1 > p,
    .blog-post-2 > p {
        display: none;
    }
}

@media (max-width: 415px) {

    h1 {
        font-size: 6vw;
    }
    h3 {
        font-size: 3vw;
    }
    .blog-post-1,
    .blog-post-2{
        text-align: center;
        margin: 0 0 10% 0;
        width: 50%;
    }
    #blog > div {
        margin: 10% auto;
        text-align: center;
    }
    p > a {
        font-size: 4em;
    }
}

